*{
    padding: 0%;
    margin: 0%;
}
#main{
    display: flex;
    flex-direction: row;
}
#img{
    height: 100%;
}
#form{
    margin: 100px 150px;
}
.logo>img{
    width: 180px;
    height: 70px;
    margin-bottom: 30px;
}
.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}
.inp{
    padding-bottom: 30px;
    padding: 15px 16px;
    width: 500px;
    margin-top: 16px;
    border: 1px solid rgb(212, 206, 206);
}
button{
    width: 150px;
    padding: 15px 16px;
    font-size: 15px;
    background-color: lightseagreen;
    color: white;
    border: none;
    cursor: pointer;
}
.para{
    display: flex;
    flex-direction: row;
   
}
.para>p{
    color: gray;
    font-size: 13px;
    margin-top: 80px;
    margin-right: 175px;
}
.para>img{
    /* margin: 20px; */
    width: 160px;
    height: 50px;
    margin-top: 70px;
}
.valid {
    color: green;
  }
  
.valid:before {
    position: relative;
    
  }
  
.invalid {
    color: red;
  }
  
.invalid:before {
    position: relative;
    
  }
form i {
    margin-left: -30px;
    cursor: pointer;
}


@media only screen and (max-device-width : 767px) {
    #img{
        visibility:hidden;
    }
    #main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #form{
        position: absolute;
        top: 0;
        right: 0;
    }
}